@keyframes arrow-anim {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(100%) translateY(-100%);
    }

    51% {
        transform: translateX(-100%) translateY(100%);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes arrow-anim-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    51% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes arrow-anim-left {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    51% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes arrow-anim-bottom {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(100%);
    }

    51% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes arrow-anim-top-right {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(100%) translateY(-100%);
    }

    51% {
        transform: translateX(-100%) translateY(100%);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}
