@use "@forwards" as *;

.btn {
    background-color: $red;
    color: $black;
    flex-wrap: nowrap;
    height: fit-content;
    transition: $trans;
    white-space: nowrap;
    width: fit-content;
    @include flex(center, center, 0, row);
    @include max-prop(padding, rem(8), vw(8));
    @include max-prop(padding-left, rem(15), vw(15));
    @include max-prop(padding-right, rem(15), vw(15));
    @include max-prop(gap, rem(15), vw(15));
    @include max-prop(border-radius, rem(50), vw(50));

    & > svg {
        @include max-prop(width, rem(6), vw(6));
        @include max-prop(height, rem(6), vw(6));

        path {
            fill: $white;
        }
    }

    &--light {
        background-color: $white;
        border: 1px solid $black;
        color: $black;

        & > svg path {
            fill: $black;
        }
    }

    &--dark {
        background-color: $black;
        color: $white;

        & > svg path {
            fill: $white;
        }
    }

    &--underline {
        background-color: transparent;
        height: auto;
        padding: 0;
        position: relative;

        &::after {
            background-color: $black;
            bottom: -0.2rem;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            transform-origin: 100%;
            transition: transform 0.4s $ease-quad-out;
            width: 100%;
        }

        &.btn--light {
            &::after {
                background-color: $black;
            }
        }

        &.btn--dark {
            &::after {
                background-color: $white;
            }
        }

        @include hover {
            filter: unset !important;

            &::after {
                transform: scaleX(0);
                transition: transform 0.4s $ease-quad-out;
            }
        }
    }

    @include hover {
        filter: brightness(0.9);

        & > svg path {
            animation: arrow-anim-top-right 0.4s $ease-quad-out forwards;
        }
    }
}
