@use "@forwards" as *;

.link {
    background: linear-gradient(to right, $black, $black);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    color: $black;
    text-decoration: none;
    transition: background-size 0.3s $ease-quad-out;

    &:hover {
        background-size: 0 1px;
    }

    &--white {
        background: linear-gradient(to right, $white, $white);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;
        color: $white;
        text-decoration: none;
    }
}
