@use "the-new-css-reset/css/reset.css";

// Base
@use "base/transition";
@use "base/color-classes";
@use "base/text-styles";
@use "base/base";
@use "base/fonts";
@use "base/typography";
@use "base/spacing";
@use "base/gradient";

// Layout
@use "layout/grid";
@use "layout/flex";
@use "layout/header";
@use "layout/spacer";
@use "layout/wysiwyg";

// Components
@use "components/btn";
@use "components/link";
@use "components/arrow-anim";

// Modules
@use "modules/hero";
