@use "@forwards" as *;

.gradient {
    position: relative;

    &::after {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
        content: "";
        height: 100%;
        inset: 0;
        max-width: 100vw;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    &--light {
        &::after {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.16) 39.5%, rgba(0, 0, 0, 0.16) 59.5%, rgba(0, 0, 0, 0.32) 100%);
        }
    }

    &--dark {
        &::after {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 39.5%, rgba(0, 0, 0, 0.4) 59.5%, rgba(0, 0, 0, 0.8) 100%);
        }
    }
}
